= label :hotel, :title, 'Title'
= text_field :hotel, :title

= label :hotel, :breakfast, 'Breakfast'
= text_field :hotel, :breakfast

= label :hotel, :room, 'Room Description'
= text_field :hotel, :room

= label :hotel, :price, 'Price (USD)'
= text_field :hotel, :price

= label :hotel, :street, 'Street'
= text_field :street, :name

= label :hotel, :city, 'City'
= text_field :city, :name

= label :hotel, :country, 'Country'
= text_field :country, :name

= label :hotel, :image, 'Add an Image'
= file_field :hotel, :image
= hidden_field :hotel, :image_cache
