%h2 Edit #{@hotel.title}

= form_for :hotel, url: hotel_path(@hotel), :method => :put do

  - if @hotel.errors.any?
    #error_explanation
      %h2
      %ul
      - @hotel.errors.full_messages.each do |msg|
        %li= msg

  = render 'hotel_form'

  = submit_tag 'Save Hotel'
  = link_to 'Back', hotels_path
