%h2 Hotels

%table#hotels
  %thead
    %tr
      %th Title
      %th Price
  %tbody
    - @hotels.each do |hotel|
      %tr
        %td= hotel.title
        %td= hotel.price
        %td= link_to 'More about', hotel_path(hotel)
        %td= link_to 'Edit', edit_hotel_path(hotel)
= link_to 'Add new hotel', new_hotel_path
